.vesper-libre-regular {
    font-family: "Vesper Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .vesper-libre-bold {
    font-family: "Vesper Libre", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" <width>;
  }  